*.foreground:	#B7B7B7
*.background:	#000000
*.cursorColor:	#B7B7B7

*.color0:	#2D2D2D
*.color8:	#3B3B3B

*.color1:	#6660CD
*.color9:	#573ACA

*.color2:	#D1DD63
*.color10:	#B6F32A

*.color3:	#575E4B
*.color11:	#4E4E44

*.color4:	#7989ED
*.color12:	#526CFF

*.color5:	#AF49E3
*.color13:	#CD5ACE

*.color6:	#2D2D2D
*.color14:	#381C7B

*.color7:	#B3B3B3
*.color15:	#FFFFFF

*.faceName:	Creep
